* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
.btn:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.body {
  margin: 0;
  padding: 0;
  padding-top: 25px;
}
.container {
  margin-top: 45px;
}
